body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Светлый фон для контраста */
    margin: 0;
    padding: 20px;
  }
  
  h1, h2 {
    text-align: center;
    color: #333; /* Темный цвет для заголовков */
    margin-bottom: 20px;
  }
  
  .menu {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .start {
    font-size: inherit;
    padding: 10px 40px; /* Увеличенные отступы для кнопки */
    border-radius: 30px;
    background-color: #007bff; /* Цвет кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Убрали рамку */
    transition: background-color 0.3s, transform 0.2s; /* Плавный переход */
  }
  
  .start:focus {
    outline: none;
  }
  
  .start:hover {
    cursor: pointer;
    background-color: #0056b3; /* Темнее при наведении */
  }
  
  .start:active {
    background-color: #0056b3; /* Темнее при нажатии */
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
  }
  
  .menu span {
    font-size: 120%;
    font-weight: bold;
    color: #555; /* Мягкий цвет для текста меню */
  }
  
  .hits {
    color: green;
    font-weight: bold; /* Жирный текст для выделения */
  }
  
  .skip {
    color: red;
    font-weight: bold; /* Жирный текст для выделения */
  }
  
  .game-board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50vmin;
    height: 50vmin;
    box-sizing: border-box;
    border: 3px solid #333; /* Увеличенная рамка для четкости */
    margin: 0 auto;
    border-radius: 10px; /* Закругленные углы */
    background-color: rgb(15, 188, 231); /* Белый фон для игрового поля */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    padding: 2px; /* Добавлены отступы для клеток */
  }
  
  .cell {
    width: calc(25% - 2px); /* Учитываем отступы между клетками */
    height: calc(25% - 2px); /* Учитываем отступы между клетками */
    box-sizing: border-box;
    border: 1px solid #ddd; /* Светлая рамка для ячеек */
    background-color: #f9f9f9; /* Светлый фон для ячеек */
    transition: background-color 0.3s; /* Плавный переход фона */
    margin: 1px; /* Небольшие отступы между клетками */
  }
  
  .cell:hover {
    background-color: #260794; /* Цвет при наведении на ячейку */
  }
  
  .goblin {
    width: 100%;
  }
  
  .hidden {
    display: none;
  }
  
  .game-message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(235, 18, 18, 0.9); /* Полупрозрачный фон */
    padding: 10px 40px;
    border: 2px solid #333; /* Темная рамка для сообщения */
    border-radius: 10px;
    font-size: 200%;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Легкая тень */
  }